.Dropdown {
  position: relative;
}

.DropdownSelected {
  padding: 4px;
  border: 1px solid black;
  cursor: pointer;
}

.DropdownItems {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}
